<div class="p-3" id="sidebar">
    <img src="https://i.postimg.cc/T2gGHpFx/logo-web.png" alt="logo" style="width: 200px; margin-left: 30px;"/>
    <hr class="text-white" />

    <div class="channelList list-group list-reset" (click)="onButtonGroupClick($event)">
        <button *ngFor="let canal of jsonCanales; let i=index;"          
           class="list-group-item list-group-item-action"
           (click)="seleccionar(canal.url, canal.logo, canal.name)">
            <span class="nameChannel">{{ canal.name | uppercase }}</span>
        </button>
    </div>
</div>