/* You can add global styles to this file, and also import other style files */
html,body{
    width: 100%;
	height: 100%;
    background-color:#1A1A1A;
    color: aliceblue;
    overflow-y: hidden;
}

/*Custom sidebar*/
#sidebar{
    background-color: #3B3B3B;
    width: 300px;
}

.list-group{
    height: 80vh;
    overflow-y: scroll;
    display: block;
}

/*Custom scrollbar*/
.list-group::-webkit-scrollbar
{
    border-radius: 10px;
	width: 0px;
	display: none;
}

/*Sidebar animation*/

.list-group-item:first-child, .list-group-item:last-child{
    margin-top: 10px;
    border-radius: 10px;
}

.list-group-item{
    margin-left: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-weight: 700;
    border: 0px none; 
    width: 90%;
    background-color: #3B3B3B;
    color: #FCFCFC;
    transition: all .85s;
}

.list-group-item .nameChannel{
    position: relative;
    z-index: 2;
}

.list-group-item::after{
    border-radius: 10px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #D6D6D6;
    transition: all .75s;
}

.list-group-item:hover{
    color: #1A1A1A;
}

.list-group-item:hover::after{
    width: 100%;
}

.list-group-item.active{
    z-index: 2;
    color: #1A1A1A;
    background-color: #D6D6D6;
}

/*Card*/
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: scale-down;
}

/*VIDEO*/
.frameVideo{
    border: 0px none; 
    margin-left: -85px; 
    height: 530px; 
    margin-top: -206px; 
    width: 630px;
}

.video{
    overflow: hidden; 
    max-width: 611px;
    transform: scale(2.2);
    transform-origin: 0% 0% 0px;
    margin-top: 15px;
    padding-left: 100px;
}

#logo{
    height: 130px;
    padding-left: 100px;
    padding-top: 30px;
}
.name{
    padding-top: 10px;
}

.channelTitle{
    padding-bottom: 0px;
}

/*Responsive*/
@media screen and (max-width: 1700px){
    .video{
        transform: scale(2.0);
    }
    .frameVideo{
        margin-left: -80px;
    }
}

@media screen and (max-width: 1520px){
    .video{
        transform: scale(1.8);
    }
    .frameVideo{
        margin-left: -75px;
    }
}

@media screen and (max-width: 1400px){
    .video{
        transform: scale(1.6);
    }
    .frameVideo{
        margin-left: -67px;
    }
}

@media screen and (max-width: 1300px){
    .video{
        transform: scale(1.4);
        padding-left: 70px;
    }
    .frameVideo{
        margin-left: -56px;
    }
    #logo{
        padding-left: 70px;
    }
}

@media screen and (max-width: 1150px){
    .video{
        transform: scale(1.2);
        padding-left: 40px;
    }
    .frameVideo{
        margin-left: -29px;
    }
    #logo{
        padding-left: 40px;
    }
}

@media screen and (max-width: 1000px){
    .video{
        transform: scale(1.0);
        padding-left: 40px;
    }

}

@media screen and (max-height: 900px){
    .video{
        transform: scale(1.8);        
    }
    #logo{
        height: 100px;
    }
}

@media screen and (max-height: 800px){
    .list-group{
        height: 76vh;
    }
    .video{
        transform: scale(1.5);       
    }
    #logo{
        height: 80px;
    }
}

@media screen and (max-height: 700px){
    .list-group{
        height: 72vh;
    }
    .video{
        transform: scale(1.3);       
    }
    #logo{
        height: 65px;
    }
}