/* You can add global styles to this file, and also import other style files */
body{
    background-color:#1A1A1A;
    color: aliceblue;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: scale-down;
}

/*VIDEO*/
.frameVideo{
    border: 0px none; 
    margin-left: -34px; 
    height: 700px; 
    margin-top: -206px; 
    width: 630px;
}

.video{
    overflow: hidden; 
    max-width: 611px;
    transform: scale(1.5);
    transform-origin: 0% 0% 0px;
    margin-top: 15px;
    padding-left: 50px;
}

#logo{
    height: 80px;
}
.name{
    padding-top: 10px;
}

.channelTitle{
    padding-bottom: 0px;
}